@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
.board__map {
  padding: 4px;
  border-radius: 0.5rem;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
}
.board__map .map__square {
  border: 3px #140a00 solid;
  background-color: rgba(37, 24, 4, 0.61);
  box-sizing: border-box;
  padding: 5px;
  width: 19.6%;
  height: 24.4%;
}
.board__map .map__square:hover {
  cursor: pointer;
}
.board__map .map__squareVisited {
  background-color: rgba(27, 20, 4, 0.315) !important;
}

.game-container {
  transition: all 1s ease-out;
  display: none;
  opacity: 0;
}

.board__interface {
  border-radius: 0.5rem;
  padding: 0.7rem;
}
.board__interface .interface__column {
  width: 14.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.board__interface .interface__column .interface__column--btn {
  padding: 0.3rem;
  border-radius: 0.5rem;
  height: 48%;
  background-image: url("card.3d660f15.jpg");
  background-size: cover;
  background-position: bottom center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
  user-select: none;
}
.board__interface .interface__column .interface__column--btn .tokenCnt {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.board__interface .interface__column .interface__column--btn .tokenCnt div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board__interface .interface__column .interface__column--btn .tokenCnt div img {
  height: 4vh;
  width: auto;
  object-fit: contain;
  opacity: 0.4;
}
.board__interface .interface__column .interface__column--title {
  font-size: clamp(12px, 0.9vw, 2vh);
}
.board__interface .interface__column .interface__stressCard {
  background-image: url("stressbutton.d0859ff0.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.board__interface .interface__column .interface__stressCard:hover {
  cursor: pointer;
}
.board__interface .interface__column .interface__stressCard:active h2 {
  position: relative;
  top: 1px;
}
.board__interface .interface__column .interface__column--stressCard {
  font-size: clamp(15px, 2.2vw, 2.2vh);
  color: black;
}
.board__interface .interface__element {
  padding: 0.3rem;
  border-radius: 0.5rem;
  width: 22.8%;
  background-image: url("card.3d660f15.jpg");
  background-size: cover;
  background-position: bottom center;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}
.board__interface .interface__element .interface__element--title {
  font-size: clamp(12px, 0.9vw, 2vh);
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.board__interface .interface__puzzle__container {
  margin-top: 4px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 2px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.6);
}
.board__interface .interface__puzzle__container:hover {
  cursor: pointer;
}
.board__interface .interface__storyLine__container {
  margin-top: 4px;
  font-size: 0.6em;
  font-weight: bold;
  padding: 2px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.6);
}
.board__interface .interface__evidence__container {
  margin-top: 4px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 2px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.6);
}
.board__interface .interface__actionPoints {
  font-weight: bold;
  font-size: clamp(16px, 2vw, 3vh);
  text-align: center;
  padding: 0.1rem;
}
.board__interface .interface__goNext {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.board__interface .interface__goNext:active h2 {
  position: inherit;
  top: 1px;
}
.board__interface .interface__goNext:hover {
  cursor: pointer;
}
.board__interface .interface__goNext .interface__column--goNext {
  font-size: clamp(15px, 2.2vw, 2.4vh);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

html {
  background-image: url("dark.e832e321.jpg");
  background-size: cover;
  scroll-behavior: smooth;
}

.container {
  display: none;
  opacity: 0;
  transition: all 1s ease-out;
}

.simplebar-scrollbar::before {
  background-color: silver !important;
}

.main {
  height: 96vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  min-height: 500px;
}
.main .board {
  padding: 2vh 0;
  display: flex;
  width: 72vw;
  justify-content: space-between;
  max-width: 150vh;
  min-width: 775px;
}
.main .board .board__storybook {
  border-radius: 0.5rem;
  margin-right: 2vw;
  padding: 0.7rem;
  width: 18vw;
  height: 35vw;
  background-image: url("note.2a147036.jpg");
  background-size: cover;
  max-height: 69vh;
  min-height: 350px;
  min-width: 200px;
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.5);
}
.main .board .board__map {
  display: none;
  opacity: 0;
  flex-wrap: wrap;
  width: 50vw;
  height: 35vw;
  max-height: 69vh;
  background-size: cover;
  justify-content: space-between;
  align-content: space-between;
  max-width: 100vh;
  min-height: 350px;
  min-width: 540px;
  filter: brightness(1.6);
}
.main .board .board__map .map__square {
  border: 3px #140a00 solid;
  background-color: rgba(37, 24, 4, 0.61);
  box-sizing: border-box;
  padding: 5px;
  width: 19.6%;
  height: 24.4%;
  border-radius: 0.3rem;
}
.main .board__interface {
  display: flex;
  background-image: url("wood.1aa5d48b.png");
  background-size: cover;
  justify-content: space-between;
  height: 18vh;
  max-width: 150vh;
  min-width: 775px;
  min-height: 115px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.activeBoard {
  opacity: 1 !important;
  display: flex !important;
}

#board1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("map1.1721b924.png");
}

#board2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("map2.1af438d6.png");
}

#board3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("map3.314d0999.png");
}

.board__storybook {
  position: relative;
}
.board__storybook .board__storybook__arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  bottom: 3rem;
  width: 90%;
}
.board__storybook i {
  transition: 0.2s;
}
.board__storybook i:hover {
  cursor: pointer;
  transform: scale(1.2);
  text-shadow: 3px 3px 4px #272727;
}

@media (min-width: 1200px) {
  .board__storybook {
    font-size: 1.25rem;
  }
  .board__storybook .board__storybook__arrows {
    font-size: 1.8rem;
  }
}
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  font-size: clamp(16px, 1.2vw, 3vh);
  color: #efefef;
  height: 4vh;
  min-height: 25px;
  background: linear-gradient(180deg, rgba(51, 39, 27, 0.75) 0%, rgba(255, 125, 1, 0.1) 100%);
  box-shadow: 0 -2px 4px #00000066;
}
.footer i {
  margin: 0 0.5rem;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  position: relative;
}
.footer i:hover {
  color: #ffbe75;
}
.footer i:active {
  top: 1px;
}

/* Paragraph modal */
.paragraph {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  font-family: "Lora", serif;
  font-size: 1.3em;
}
.paragraph .paragraph__text {
  min-width: 600px;
  padding: 1em 2em;
  background: silver;
  width: 60%;
  margin: 2em auto;
  letter-spacing: 0.15em;
  background-image: url("card.3d660f15.jpg");
  background-size: cover;
  color: #000;
  font-weight: bold;
}
.paragraph .paragraph__close {
  position: absolute;
  right: 1em;
  top: 1em;
}
.paragraph .paragraph__close:hover {
  cursor: pointer;
}

.instructionModal {
  overflow: auto;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  font-family: "Lora", serif;
  font-size: 1.3em;
}
.instructionModal::-webkit-scrollbar {
  width: 8px;
}
.instructionModal::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}
.instructionModal::-webkit-scrollbar-thumb {
  background: #442e13;
}
.instructionModal .instruction__text {
  min-height: 700px;
  min-width: 700px;
  max-height: 70%;
  overflow-y: auto;
  padding: 1.5em 2.5em;
  background: silver;
  width: 60%;
  margin: 2em auto;
  letter-spacing: 0.15em;
  background-image: url("card.3d660f15.jpg");
  background-size: cover;
  color: #000;
  font-weight: bold;
}
.instructionModal .instruction__text::-webkit-scrollbar {
  width: 8px;
}
.instructionModal .instruction__text::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}
.instructionModal .instruction__text::-webkit-scrollbar-thumb {
  background: #442e13;
}
.instructionModal .instruction__close {
  position: absolute;
  right: 1em;
  top: 1em;
}
.instructionModal .instruction__close:hover {
  cursor: pointer;
}

.puzzle {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  font-family: "Lora", serif;
  font-size: 1.3em;
}
.puzzle .puzzle__text {
  min-width: 600px;
  padding: 1em 2em;
  background: silver;
  width: 60%;
  margin: 2em auto;
  letter-spacing: 0.15em;
  background-image: url("card.3d660f15.jpg");
  background-size: cover;
  color: #000;
  font-weight: bold;
}
.puzzle .puzzle__close {
  color: white;
  position: absolute;
  right: 1em;
  top: 1em;
}
.puzzle .puzzle__close:hover {
  cursor: pointer;
}
.puzzle .puzzle__solve__input {
  background: transparent;
  padding: 0.2em 0.4em;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.puzzle .puzzle__solve__input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
.puzzle .puzzle__solve__submit {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-top: 1em;
  padding: 0.2em 0.4em;
  width: 6rem;
  height: 1.7rem;
  font-weight: bold;
}
.puzzle .puzzle__solve__submit:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}
.puzzle .puzzle__solve__submit:focus {
  outline: none;
}
.puzzle .incorrect__solution {
  position: relative;
  background: transparent;
  padding: 0.2em 0.4em;
  border: 1px solid #b8262b;
  animation: shake 0.1s linear;
  animation-iteration-count: 3;
}
@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

.noPoints__modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  font-family: "Lora", serif;
  font-size: 1.3em;
}
.noPoints__modal .noPoints__text {
  min-width: 600px;
  padding: 1em 2em;
  background: silver;
  width: 60%;
  margin: 2em auto;
  letter-spacing: 0.15em;
  background-image: url("card.3d660f15.jpg");
  background-size: cover;
  color: #000;
  font-weight: bold;
}
.noPoints__modal .noPoints__close {
  color: white;
  position: absolute;
  right: 1em;
  top: 1em;
}
.noPoints__modal .noPoints__close:hover {
  cursor: pointer;
}

.areaExplored__modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  font-family: "Lora", serif;
  font-size: 1.3em;
}
.areaExplored__modal .areaExplored__text {
  padding: 1em 2em;
  background: silver;
  min-width: 600px;
  width: 60%;
  margin: 2em auto;
  letter-spacing: 0.15em;
  background-image: url("card.3d660f15.jpg");
  background-size: cover;
  color: #000;
  font-weight: bold;
}
.areaExplored__modal .areaExplored__close {
  color: white;
  position: absolute;
  right: 1em;
  top: 1em;
}
.areaExplored__modal .areaExplored__close:hover {
  cursor: pointer;
}

.ending__modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background: url("house.3ea19a35.jpeg");
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  font-family: "Lora", serif;
  font-size: 1.3em;
}
.ending__modal .ending__text {
  min-width: 600px;
  color: white !important;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 1em 5.3em 1em 2em;
  width: 60%;
  margin: 2em auto;
  letter-spacing: 0.15em;
  color: #000;
  font-weight: bold;
}
.ending__modal .ending__close {
  color: #fff;
  font-weight: bold;
  width: 100px;
  border: 1px solid #fff;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  background: transparent;
  letter-spacing: 0.15em;
  font-size: 1em;
}
.ending__modal .ending__close:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.home-container {
  transition: all 0.5s ease-out;
}

.home {
  background: url("house.3ea19a35.jpeg") no-repeat fixed center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__content {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 80vw;
  max-height: 90vh;
  justify-content: space-between;
}
.home__content--title {
  text-transform: uppercase;
  font-family: Lora;
  font-weight: bold;
  font-size: 80px;
  font-size: clamp(36px, 4vw, 8vh);
  text-align: center;
  color: #999999;
  align-self: flex-start;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}
.home__content--button {
  text-transform: uppercase;
  font-family: Lora;
  font-weight: bold;
  font-size: 86px;
  font-size: clamp(36px, 4vw, 8vh);
  line-height: 110px;
  color: #c28f56;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  align-self: flex-end;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.home__content--button:hover {
  color: #ffbe75;
}
.home__content--button:active {
  scale: 0.98;
}

.menu-container {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.menu {
  background: url("house.3ea19a35.jpeg") no-repeat fixed center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-out;
}
.menu .continue__denied {
  color: rgba(194, 143, 86, 0.4);
  pointer-events: none;
}
.menu__content {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 80vw;
  max-height: 90vh;
  justify-content: space-between;
}
.menu__info {
  align-self: baseline;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.menu__info--text {
  font-size: clamp(14px, 1.5vw, 2.5vh);
  color: #efefef;
  text-align: justify;
  padding: 1rem;
  color: silver;
  border-top: 0.5rem solid #cfcfcf;
  border-left: 0.5rem solid #cacaca;
  border-bottom: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  box-shadow: inset 0.2rem 0.2rem 1px #4b4b4b, 2px 2px 20px 2px #21212199;
  border-top-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: #11111122;
  text-shadow: 2px 2px 4px black;
}
.menu__info--details {
  padding: 2rem;
  display: flex;
}
.menu__info--details button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 0.2rem;
  border-radius: 0.3rem;
  width: 45%;
  width: 120px;
  font-weight: bold;
  font-size: clamp(10px, 0.9vw, 2vh);
  background-color: #c28f56;
  transition: background-color 0.2s ease-in-out;
  position: relative;
  margin-right: 1rem;
}
.menu__info--details button:hover {
  background-color: #ffbe75;
}
.menu__info--details button:active {
  color: #333;
  top: 1px;
}
.menu__info--details .active {
  cursor: default;
  background-color: silver;
}
.menu__info--details .active:hover {
  background-color: silver;
}
.menu__info--details .active:active {
  top: 0;
  color: black;
}
.menu__info--about {
  display: block;
  padding: 1rem 2rem;
}
.menu__info--about h3 {
  margin-bottom: 1rem;
}
.menu__info--authors {
  display: none;
}
.menu__info--authors h3 {
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.menu__info--authors p {
  padding: 0.5rem 1rem;
}
.menu__info--guide {
  display: none;
  padding: 1rem 0 1rem 2rem;
  max-height: 80%;
  overflow-y: auto;
}
.menu__info--guide h3,
.menu__info--guide h4,
.menu__info--guide span,
.menu__info--guide ul {
  display: block;
  margin-bottom: 1rem;
}
.menu__info--guide span,
.menu__info--guide ul {
  transform: scale(0.9);
  transform-origin: top left;
}
.menu__button {
  align-self: center;
  text-align: right;
  margin-top: 10rem;
}
.menu__button--button {
  text-transform: uppercase;
  font-family: Lora;
  font-weight: bold;
  font-size: clamp(36px, 4vw, 8vh);
  color: #c28f56;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  align-self: flex-end;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.menu__button--button:hover {
  color: #ffbe75;
}
.menu__button--button:active {
  scale: 0.98;
}
.menu__button--ng {
  margin-top: 1rem;
  font-size: clamp(30px, 3.2vw, 7vh);
}

.first__choose {
  display: none;
  font-family: "Lora", serif;
  letter-spacing: 0.15em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("house.3ea19a35.jpeg");
  background-size: cover;
  z-index: 1;
}
.first__choose .first__choose__text {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 1em 2em;
  width: 1000px;
  height: 300px;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 1em;
}
.first__choose .first__choose__text .first__choose__title {
  font-size: 1.4em;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first__choose .first__choose__text .first__choose__first, .first__choose .first__choose__text .first__choose__second {
  margin-bottom: 20px;
  padding: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first__choose .first__choose__text .first__choose__first button, .first__choose .first__choose__text .first__choose__second button {
  letter-spacing: 0.15em;
  font-size: 1.2em;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  width: 100%;
  height: 100%;
}
.first__choose .first__choose__text .first__choose__first button:hover, .first__choose .first__choose__text .first__choose__second button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.second__choose {
  display: none;
  font-family: "Lora", serif;
  letter-spacing: 0.15em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("house.3ea19a35.jpeg");
  background-size: cover;
  z-index: 1;
}
.second__choose .second__choose__text {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 1em 2em;
  width: 1000px;
  height: 300px;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 1em;
}
.second__choose .second__choose__text .second__choose__title {
  font-size: 1.4em;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second__choose .second__choose__text .second__choose__first, .second__choose .second__choose__text .second__choose__second {
  margin-bottom: 20px;
  padding: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second__choose .second__choose__text .second__choose__first button, .second__choose .second__choose__text .second__choose__second button {
  letter-spacing: 0.15em;
  font-size: 1.2em;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  width: 100%;
  height: 100%;
}
.second__choose .second__choose__text .second__choose__first button:hover, .second__choose .second__choose__text .second__choose__second button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/*# sourceMappingURL=/main.48b3db1d.css.map */