$boardMap1BG: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../assets/map1.png");
$boardMap2BG: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../assets/map2.png");
$boardMap3BG: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../assets/map3.png");
$storyBookBG: url("../assets/note.jpg");
$stressCardBG: url("../assets/stressbutton.png");
$interfaceBG: url("../assets/wood.png");
$footerBG: linear-gradient(
  180deg,
  rgba(51, 39, 27, 0.75) 0%,
  rgba(255, 125, 1, 0.1) 100%
);
$mainBG: url("../assets/dark.jpg");
$boardFieldBG: rgba(37, 24, 4, 0.61);
$boardFieldVisited: rgba(27, 20, 4, 0.315);
$boardFieldBorder: 3px #140a00 solid;
$interfaceElBG: url("../assets/card.jpg");
$fontColorLight: #efefef;
$hoverButtonColor: #ffbe75;
$modalBG: rgba(0, 0, 0, 0.6);
$modalColor: #fff;
$paragraphBG: grey;
$solveButtonBorder: rgba(0, 0, 0, 0.4);
$solveButtonBorderFocus: rgba(0, 0, 0, 0.7);
$invalidInputBorder: 1px solid #b8262b;
