@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
$lora: "Lora", serif;
$interfaceTitleFS: clamp(12px, 0.9vw, 2vh);
$footerFS: clamp(16px, 1.2vw, 3vh);
$interfaceElemFS: clamp(16px, 2vw, 3vh);
