$boardMapPD: 4px;
$boardPD: 2vh 0;
$boardFieldPD: 5px;
$storyBookPD: 0.7rem;
$interfacePD: 0.7rem;
$borderRadius: 0.5rem;
$interfacePD: 0.7rem;
$interfaceElementPD: 0.3rem;
$solvePuzzlePD: 0.2em 0.4em;

$mainMinH: 500px;

$boardMinW: 775px;
$boardMaxW: 150vh;
$mainMinH: 500px;
$boardBookMinH: 350px;
$boardBookMaxH: 69vh;
$boardBookMinW: 200px;

$boardMapMinH: 350px;
$boardMapMinW: 540px;
$boardMapMaxW: 100vh;

$interfaceMaxW: 150vh;
$interfaceMinW: 775px;
$interfaceMinH: 115px;

$instructionPD: 1.5em 2.5em;

$minModalW: 600px;