$boardMapPD: 4px;
$boardPD: 2vh 0;
$boardFieldPD: 5px;
$interfacePD: 0.7rem;
$borderRadius: 0.5rem;
$interfacePD: 0.7rem;

$mainMinH: 500px;

$boardMinW: 775px;
$boardMaxW: 150vh;
$mainMinH: 500px;
$boardBookMinH: 350px;
$boardBookMaxH: 69vh;
$boardBookMinW: 200px;

$boardMapMinH: 350px;
$boardMapMinW: 540px;

$interfaceMaxW: 150vh;
$interfaceMinW: 775px;
$interfaceMinH: 115px;