* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    height: 96vh;
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.game-board {
    padding-top: 0.8rem;
    display: flex;
    
    /* justify-content: center; */
    height: 74vh;
    width: 72vw;
    // border: 2px black solid;
    justify-content: space-between;
}

.storybook {
    border-radius: 0.5rem;
    margin-right: 2vw;
    width: 18vw;
    height: 35vw;
    border: 1px red solid;
    background-color: rgb(231, 231, 172);
    max-height: 69vh;
    // min-height: 70vh;
}


.map {
    border-radius: 0.5rem;
    display:flex;
    flex-wrap: wrap;
    width: 52vw;
    height: 35vw;
    // min-height: 70vh;
    max-height: 69vh;
    max-width: 100vh;
    /* border: 1px green solid; */
    
}

.square {  
    border: 1px orange solid;
    background-color: red;
    width: 20%;
    height: 25%;
    
}

.a1 {
    border-radius: 0.5rem 0 0 0; 
}

.a5 {
    border-radius: 0  0.5rem 0 0; 
}

.d1 {
    border-radius: 0 0 0 0.5rem; 
}

.d5 {
    border-radius: 0 0 0.5rem 0; 
}


.interface {
    border-radius: 0.5rem;
    display: flex;
    background-color: gray;
    justify-content: space-between;
    /* border: 1px blue solid; */
    width:72vw;
    height: 20vh;
    padding: 0.3rem;
}

.first-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions-number {
    border-radius: 0.5rem;
    height: 48%;
    width: 9.8vw;
    border: 1px white solid;
    background-color: red;
}

.stress-card {
    border-radius: 0.5rem;
    height:48%;
    width: 9.8vw;
    border: 1px white solid;
    background-color: green;
}

.evidence {
    border-radius: 0.5rem;
    width: 14%;
    border: 1px white solid;
    background-color: green;
}


.puzzle-cards {
    border-radius: 0.5rem;
    width: 14%;
    border: 1px white solid;
    background-color: green;
}

.puzzle {
    border-radius: 0.5rem;
    width: 14%;
    border: 1px white solid;
    background-color: green;
}

.coins {
    border-radius: 0.5rem;
    width: 14%;
    border: 1px white solid;
    background-color: green;
}

.next-lvl {
    border-radius: 0.5rem;
    width: 14%;
    border: 1px white solid;
    background-color: green;
}


.storyline {
    border-radius: 0.5rem;
    width: 14%;
    border: 1px white solid;
    background-color: green;
}


.footer {
    height: 4vh;
    background-color:greenyellow;
    /* border: 1px red solid; */
}

