* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    height: 96vh;
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.game-board {
    padding: 2vh;
    display: flex;
    
    /* justify-content: center; */
    height: 80vh;
    /* width: 100vw; */
    border: 2px black solid;
    justify-content: center;
}

.storybook {

    /* margin-left: 10vw; */
    margin-right: 8vw;
    width: 20vw;
    height: 40vw;
    border: 1px red solid;
    background-color: rgb(231, 231, 172);
    max-height: 75vh;
}


.map {
    display:flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 40vw;
    /* min-height: 76vh; */
    max-height: 75vh;
    max-width: 100vh;
    /* border: 1px green solid; */
    
}

.square {   
    border: 1px orange solid;
    background-color: red;
    width: 20%;
    height: 25%;
    
}


.interface {
    display: flex;
    background-color: rgb(151, 63, 12);
    /* grid-area: interface; */
    /* border: 1px blue solid; */
    /* width: 100vw; */
    height: 16vh;
}

.actions-number {
    height: 50%;
    width: 14vw;
    border: 1px white solid;
    /* background-color: white; */
}

.stress-card {
    height:50%;
    width: 14vw;
    border: 1px white solid;
    /* background-color: green; */
}

.evidence {
    width: 14vw;
    border: 1px white solid;
}


.puzzle-cards {
    width:14vw ;
    border: 1px white solid;
}

.puzzle {
    width: 14vw;
    border: 1px white solid;
}

.coins {
    width: 14vw;
    border: 1px white solid;
}

.next-lvl {
    width: 14.8vw;
    border: 1px white solid;
}


.storyline {
    width: 15vw;
    border: 1px white solid;
}


.footer {
    height: 4vh;
    background-color:green;
    /* border: 1px red solid; */
}

