* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-image: url('../assets/dark.jpg');
    background-size: cover;
}
.main {
        
    height: 96vh;
    // border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;


    .board {
        padding: 2vh 0;
        display: flex;
        width: 72vw;
        justify-content: space-between;
        max-width: 150vh;
    }

    .board__storybook {
        border-radius: 0.5rem;
        margin-right: 2vw;
        width: 18vw;
        height: 35vw;
        background-image: url('../assets/note.jpg');
        background-size: cover;
        max-height: 69vh;
    }


    .board__map {
        padding:4px;
        border-radius: 0.5rem;
        display:flex;
        flex-wrap: wrap;
        width: 52vw;
        height: 35vw;
        max-height: 69vh;
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/room.jpg');
        background-size: cover;
        justify-content:space-between;
        align-content: space-between;
        

        .map__square {  
            border: 3px #261C00 solid;
            background-color: rgba(122, 99, 54, 0.34);
            box-sizing: border-box;
            padding: 5px;
            width: 19.6%;
            height: 24.4%;
        }
    }

    .board__interface {
        border-radius: 0.5rem;
        display: flex;
        background-image: url('../assets/wood.png');
        background-size: cover;
        justify-content: space-between;
        height: 18vh;
        padding: 0.7rem;
        max-width: 150vh;
    
        .interface__column {
            width: 13.7%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .interface__column--btn {
                border-radius: 0.5rem;
                height: 48%;
                background-image: url('../assets/card.jpg');
                background-size: cover;
            }
            
        }


        .interface__element {
            border-radius: 0.5rem;
            width: 13.7%;
            background-image: url('../assets/card.jpg');
            background-size: cover;
        }
    }
}
.footer {
    height: 4vh;
    background: linear-gradient(180deg, rgba(51, 39, 27, 0.75) 0%, rgba(233, 133, 38, 0) 100%, rgba(255, 125, 1, 0) 100%);
}

